@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="bi bi-search"></i>
                AI Powered PR Reviewer
            </a>
        </div>
    </nav>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

